
* {
    font-family: "Poppins", sans-serif;
    
}

/*Estilo de botones generales de toda la aplicación*/

body{
    background-color:  #ececec;
}

.btn-eliminar {
    margin-top: 5px !important;
    padding: 6px 15px !important;
    cursor: pointer !important;
    text-align: center !important;
    background-color: #976f33 !important; 
    color: #ffffff !important; 
    border-radius: 5px !important;
    border: none !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
    box-shadow: 2px 2px 5px #c2c5c5 !important; 
}

.btn-eliminar:hover {
    background-color: #a78654 !important; 
    box-shadow: 3px 3px 7px #128277 !important; 
}

.btn-editar {
    margin-top: 5px !important;
    padding: 6px 15px !important;
    cursor: pointer !important;
    text-align: center;
    background-color: #069191 !important; 
    color: #ffffff !important; 
    border-radius: 5px !important; 
    border: none !important;
    transition: background-color 0.3s ease, box-shadow 0.3s ease !important;
    box-shadow: 2px 2px 5px #c2c5c5 !important; 
}

.btn-editar:hover {
    background-color: #6aaaaa !important; 
    color: #004D47 !important; 
    box-shadow: 3px 3px 7px #52958b !important; 
}

.btn-primary {
    margin-top: 5px !important;
    padding: 6px 15px !important;
    cursor: pointer !important;
    text-align: center !important;
    background-color: #004D47 !important; 
    color: #ffffff !important; 
    border-radius: 5px !important;
    border: none !important;
    transition: background-color 0.3s, box-shadow 0.3s !important;
    box-shadow: 2px 2px 5px #128277 !important; 
}

.btn-primary:hover {
    background-color: #52958b !important; 
    box-shadow: 3px 3px 7px #004D47 !important; 
}


