/* gestionActividades Tabla */

* {
    font-family: "Poppins", sans-serif;
}

/* Botones dentro de la tabla */

.tabla-actividades .btn-editar:hover, .tabla-actividades .btn-eliminar:hover {
    opacity: 0.8; 
}

.input-tablero {
    background-color: #109e9e; 
    border: 1px solid #0d7979; 
    color: white; 
    text-align: center;
    padding: 10px 15px; 
    text-decoration: none; 
    display: inline-block; 
    border-radius: 0.25rem; 
    transition: background-color 0.2s, border-color 0.2s; 
  }
  
  .input-tablero:hover, .input-tablero:focus {
    background-color: #0d7979; 
    color: #ffffff; 
    text-decoration: none; 
    outline: none; 
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/*Información del presupuesto*/
  .total-precios {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-precio-texto {
    font-size: 1.5em;
    font-weight: bold;
}

.precio-cifra {
    color: #28a745;
}