/*Estilos para la página de LOGIN */

* {
    font-family: "Poppins", sans-serif;
    
}

.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 770px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.side-image{
    background-image: url("../img/fondo4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius:  10px 0 0 10px;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text p{
    color: #fff;
    font-size: 18px;
}

i{
    font-weight: 400;
    font-size: 15px;
}

.right{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.input-box{
    max-width: 430px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box, .input-field label{
    
    top: 10px;
    left: 10px;
    transition: .5s;
}

.input-field .input:focus ~ label{
    top: -10px;
    font-size: 13px;
}

.input-field .input:valid ~ label{
    top: -10px;
    font-size: 13px;
    color: #5d5076;
}

.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #376d6f;
}

.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: 0.4s;
}

.submit:hover{
    background: rgba(37, 99, 75, 0.9);
    color: #fff;
}

.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    transition: .5s;
}

span a:hover{
    text-decoration: underline;
    color: #3e7274;
}

/*MEDIA QUERY para definir parametros en pantallas pequeñas*/
@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
        height: 200px;
    }
    img{
        width:35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }

    .text{
        position: absolute;
        top:70%;
        text-align: center;
    }

    .text p,i {
        font-size: 17px;
        width: 100%;
    }

}
