
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Importamos la fuente poppins*/

.destinos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre tarjetas */
}

.titulo-card{
    color: inherit; 
    text-decoration: none; /*Elimina el subrayado*/
    background-color: transparent;
    cursor: pointer;
}

.titulo-card:hover{
    color: #1b6353;
}

.destino-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 250px; /* Mínimo ancho de la tarjeta */
    max-width: 300px; /* Máximo ancho de la tarjeta */
    min-height: 150px; /* Altura mínima para uniformizar el tamaño */
    max-height: 200px; /* Altura máxima para prevenir tarjetas demasiado altas */
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destino-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.2);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.fecha-info, .destino-card-buttons {
    align-self: flex-start;
}

.destino-card-buttons{
    position: absolute;
    top: 100px;
    right: 25px;
    display: flex;
    flex-direction: column;
}

.btn-editar, .btn-eliminar {
    margin-top: 5px;
    padding: 5px 10px;
    cursor: pointer;
    text-align: center;
    background-color: #24a379;
    color: white;
    border-radius: 5px;
    border: none;
}

.btn-editar:hover, .btn-eliminar:hover {
    background-color: #3bc5ae;
}


.img-container, .img-viaje-contaier{
    border: 2px solid black;
}

/*Tarjetas de viaje*/

/* Estilo general para asegurar que el contenido esté centrado */
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Estilo para la tarjeta de viaje */
.viaje {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;   
    box-shadow: 0 4px 8px rgba(37, 36, 36, 0.2);
    width: 70%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.viaje:hover {
    transform: translateY(-5px);
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilo para la información del viaje */
.viaje-info {
    width: 60%;
    cursor: pointer;
}

/* Estilo para la imagen del viaje */
.viaje-imagen img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: right;
    border-radius: 8px;
    max-width: 250px; /* Ajusta esto según necesites */
    max-height: 250px; /* Ajusta esto según necesites */
    border-radius: 8px;
    margin-bottom: 10px;
}

.viaje-imagen-form input[type="file"] {
    display: none; /* Oculta el label y el input, mostrando solo el botón */
}

/* Estilo para el formulario de carga de imagen */
.viaje-imagen-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
}

.viaje-imagen-form input[type="file"] {
    margin-bottom: 10px;
}


.viaje-imagen-form input[type="submit"]:hover, .viaje-imagen-form input[type="submit"]:focus {
    background-color: #109e9e;
    border-color: #0d7979;
    color: white;
    outline: none;
}

.viaje-imagen-form label, .viaje-imagen-form input[type="submit"]   {
    display: inline-block; /* Hace que el label se comporte como un bloque, permitiendo el padding */
    padding: 10px 15px; /* Espaciado interno */
    background-color: #069191; /* Color de fondo azul */
    color: #ffffff; /* Color de texto blanco */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid transparent; /* Borde transparente que puede cambiar en hover/focus */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es clickeable */
    text-align: center; /* Alinea el texto al centro */
    transition: background-color 0.2s, border-color 0.2s; /* Transición suave para hover/focus */
}

.viaje-imagen-form label:hover, .viaje-imagen-form label:focus {
    background-color: #109e9e; /* Color de fondo más oscuro al pasar el mouse o enfocar */
    border-color: #0d7979; /* Borde más oscuro para dar efecto de botón presionado */
    outline: none; /* Elimina el contorno que aparece en focus en algunos navegadores */
    text-decoration: none; /* Asegura que no haya subrayado en el texto */
}